# Auto detect text files and perform LF normalization
* text=auto


<49강>

#include <iostream>
#include <string>

---------------------------------------------

int main()
{
	std::cout << "잘있거라 세상이여" << 10 << 'c' << std::endl;
}

---------------------------------------------

using namespace std;

int main()
{
	cout << "닥치시오 우서" << endl;
}

---------------------------------------------

using namespace std;

int main()
{
	int a, b;
	cin >> a >> b;

	cout << a << "+" << b << "=" << a + b << endl;
}

---------------------------------------------

using namespace std;

int main()
{
	string str;

	str = "누가 기침소리를 내었는가";
	cout << str << endl;
}

---------------------------------------------

using namespace std;

int main()
{
	string name;

	cout << "이름을 입력하세요: ";
	cin >> name;

	string message = "닥치시오" + name + "  ";
	cout << message << endl;
}

---------------------------------------------




<50강>

#include <iostream>
#include <string>

---------------------------------------------

using namespace std;

int main()
{
	int a(10);
	int b(a+9);

	cout << "a=" << a << endl;
	cout << "b=" << b << endl;
}

---------------------------------------------

//범위기반 for문

using namespace std;

int main()
{
	int arr[10] = { 3,1,4,5,2,6,9,7,8 };

	for (int &n : arr)
	{
		cout << n << ' ';
		n++;
	}
	cout << endl;
	for (int n : arr)
	{
		cout << n << ' ';
	}
	cout << endl;
}

---------------------------------------------

//c++포인터

using namespace std;

int main()
{
	int a(5);
	int &p = a;
	p = 10;

	cout << p << endl;
	cout << a << endl;
}

---------------------------------------------

//두 데이터 치환하기
using namespace std;

void swap(int &a, int &b)
{
	int tmp = a;
	a = b;
	b = tmp;
}

int main()
{
	int a(5), b(7);

	swap(a, b);

	cout << "a=" << a << endl;
	cout << "b=" << b << endl;
}

---------------------------------------------

using namespace std;

int main()
{
	// r-value
	int a(5);
	int &&r = 3;
	int &&r1 = a * a;
}

---------------------------------------------


<51강>


#include <iostream>



void swap(int &a, int &b)
{
	int tmp = a;
	a = b;
	b = tmp;
}

void swap(double &a, double &b)
{
	double tmp = a;
	a = b;
	b = tmp;
}

void swap(int* (&a), int* (&b))
{
	int* tmp = a;
	a = b;
	b = tmp;
}

int main()
{
	int a = 20, b = 30;
	double da = 2.22, db = 3.35;
	int* pa = &a, *pb = &b;

	swap(a, b);
	swap(da, db);
	swap(pa, pb);

	std::cout << "a :" << a << std::endl;
	std::cout << "b :" << b << std::endl;

	std::cout << "da:" << da << std::endl;
	std::cout << "db:" << db << std::endl;

	std::cout << "*pa:" << *pa << std::endl;
	std::cout << "*pb:" << *pb << std::endl;
}

---------------------------------------------

using namespace std;

int inventory[64] = { 0 };
int score = 0;

void getitem(int itemid, int cnt =1, int sc = 0)
{
	inventory[itemid] += cnt;
	score += sc;
}

int main()
{
	getitem(6, 5);
	getitem(3, 2);
	getitem(4);
	getitem(11, 34, 7000);

	cout << score << endl;
	for (int i = 0; i < 16; i++)
	{
		cout << inventory[i] << ' ';
	}
	cout << endl;
}



<52강>


